{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage | {{ user.username }}</title>
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
    <link href="{% static 'user_profile/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'user_profile/home_style.css' %}" rel="stylesheet" type="text/css">
    <style>
        .info .profile-pic {
{#            background-image: url("{{ user.profile_picture.url }}");#}
            background-image: url("/static/user_profile/pexels-photo-27714.jpg") !important;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <div class="search">
            <input type="text">
            <div class="zoom"></div>
        </div>
        <div class="icons">
            <div class="icon explore"></div>
            <div class="icon likes"></div>
            <div class="icon timeline"></div>
        </div>
    </div>
    <div class="info">
        <div class="profile-pic">
        </div>
        <div class="other">
            <div class="name">{{ user.get_full_name }}</div>
            <div class="follower">{{ user.followers.count }}</div>
            <div class="following">{{ user.following.count }}</div>
            <div class="bio">
                {{ user.bio }}
            </div>
        </div>
    </div>
{#    <div>#}
{#        <h1>Following:</h1>#}
{#        <ul>#}
{#            {% for u in user.following.all %}#}
{#            <li>{{ u.whom.get_full_name }} {{ u.whom.username }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}

    <div>
        {% for m in media %}
            <img src="{{ m.file.url }}" />
            <p>{{ m.caption }}</p>
            <p>{{ m.comments.count }} comment</p>
        {% endfor %}
    </div>
</body>
</html>