<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="home_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <div class="search">
            <input type="text">
            <div class="zoom"></div>
        </div>
        <div class="icons">
            <div class="icon explore"></div>
            <div class="icon likes"></div>
            <div class="icon timeline"></div>
        </div>
    </div>
    <div class="info">
        <div class="profile-pic">

        </div>
        <div class="other">
            <div class="name"></div>
            <div class="follower"></div>
            <div class="bio">
                Real Madrid C.F. Official profile of Real Madrid C.F. 11 times European Champions. FIFA Best Club of the 20th Century.
            </div>
        </div>
    </div>

</body>
</html>